<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/myres.css" type="text/css">
    <title>MyResource</title>
</head>
<body>
    <% include partials/_header %>
    <div class="contain">

        <h1>My Resources Carousel</h1>
      
        <div class="row">
          <div class="row__inner">
              <% for(var url in urls) { %>
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="<%= urls[url].image %>" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  MyPocket
                </div>
              </div>
            </div>
            <% } %>
      <div class="contain">

        <h1>Liked Resources Carousel</h1> 
        <% for(var url in urls) { %>
          <% for(var like in likes) { %>
            <%if(likes[like].url_id === urls[url].id){%>
              <div class="tile">
                  <div class="tile__media">
                    <img class="tile__img" src="<%= urls[url].image %>" alt=""  />
                  </div>
                  <div class="tile__details">
                    <div class="tile__title">
                      MyPocket
                    </div>
                  </div>
                </div>
            <% } %>
          <% } %>
        <% } %>
            <!-- <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://www.businessprocessincubator.com/wp-content/uploads/thumbnails/thumbnail-42854.png" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://www.shopfactory.com/contents/media/tutorials-3.png" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://o.aolcdn.com/images/dims3/GLOB/legacy_thumbnail/630x315/format/jpg/quality/85/http%3A%2F%2Fi.huffpost.com%2Fgen%2F4034628%2Fimages%2Fn-PUPPIES-628x314.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="http://images6.fanpop.com/image/photos/41500000/adorable-puppies-cute-puppies-41538745-720-405.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://www.alvinisd.net/cms/lib/TX01001897/Centricity/Domain/4062/tutorials.png" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="http://www.pawderosa.com/images/puppies.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="http://www.cs.columbia.edu/artemis/students/2013/Angela_V/Images/puppies.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://a00000820018-live-cc36dd0ff06f46c08f9308e5144c2f82-209a3c0.s3.amazonaws.com/filer_public_thumbnails/filer_public/6f/36/6f36ea5b-ff88-4892-8a6e-2b2410a38c02/block-photos_available-pets_383968525-cropped-small.jpg__425x318_q90_crop_subsampling-2_upscale.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://thumbs-prod.si-cdn.com/X_8oA8_P57VZtb6CheHfQdX_8hg=/800x600/filters:no_upscale():focal(1501x569:1502x570)/https://public-media.si-cdn.com/filer/1e/1e/1e1e3aea-e930-45d2-9bc4-6dd50cccf66d/istock-511313058.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://parade.com/wp-content/uploads/2018/03/golden-puppy-life-national-geographic-ftr.jpg" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/All-about-puppies--Cesar%E2%80%99s-tips%2C-tricks-and-advice.jpg?itok=bi9xUvwe" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  Top Gear
                </div>
              </div>
            </div>
          </div>
        </div> -->
    </div>
</body>
</html>